<p>lista works!</p>
<cas-nueva (addTarea)="addTareas($event)"></cas-nueva>


<div *ngIf="aTareas.length; else invitacion">
    <h3>Lista de tareas</h3>
    <ul>
        <cas-tarea *ngFor="let item of aTareas; let i = index" 
            [tarea]='item' [index]='i+1' 
            (checkChanged)="onCheckChange($event)"
            (clickDeleted)="onClickDelete($event)"
            ></cas-tarea>
    </ul>
</div>
<ng-template #invitacion>
    <div>
        Animate a añadir alguna tarea
    </div>
</ng-template>